@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: OCR A Std, monospace, system-ui, sans-serif;
  }
}

/*body {
  background: linear-gradient(
    89deg,
    #392dd1 0%,
    #a91b78 99.79%
  );
  color: antiquewhite;
}*/

body {
  background: linear-gradient(-45deg, #ee7752, #1476cc, #392dd1, #23d5ab);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  height: 110vh;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
